.main-container{
  display: flex;
  flex-direction: column;
  margin: 50px auto;
}
.main-form{
  display: flex;
  flex-direction: column;
  margin: auto;
}
.main-form input, .main-form label, .main-form select, .main-form button{
  margin: 10px 0;
}